body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg,#ff9a9e, #fad0c4);
}

.container {
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.swiper {
    width: 90%;
    height: 300px;
    margin: 20px auto;
    border-radius: 10px solid #ff6f61;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Dancing Script', cursive; /* Fonte personalizada */
    color: #444;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 80%;
    margin: 20px auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.musica {
    margin-top: 20px;
    font-size: 40px;
    cursor: pointer;
    color: #ff6f61;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.musica:hover {
    color: #ff3b2f;
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.timer {
    margin-top: 20px;
    font-size: 18px;
    color: #555;

}

#tempoJuntos {
    font-size: 24px;
    font-weight: bold;
    color: #ff6f61;
}